.cta {
  background-color: #252525;
  color: #f8f1f1;
  padding: 3% 0%;
}

.big-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.cta-btn {
  width: 200px;
  border-radius: 0%;
  background-color: #f7f6e7;
  font-weight: bold;
  opacity: 0.7;
  margin-top: 2%;
}

.cta-btn:hover {
  opacity: 0.5;
}
